body{
  margin:9px;
  background-color: #080808;
}
.head-brand{
  display:flex;
  justify-content:space-between;
  background-color: aliceblue;
  margin:15px;
}
nav{
  text-align:center;
  padding:14px;
  color:rgb(27, 24, 24);
  display:flex;
  gap:30px;
  font-size:35px;

} 
nav a:hover{
  background:rgb(250, 168, 135);
  cursor: pointer;
 
}
.Home{
  text-align: left;
  color: rgb(245, 243, 242);
  display:flex;
  margin:100px;
  font-size: 30px;
}
em,h1{
  color: chocolate;
  font-size: 100px;
}
 .h1{
  padding: 15px;
  font-size:80px;
 }
button{
  padding: 16px;
  font-size: 20px;
  border:5px solid chocolate;
  cursor: progress;
  background-color: black;
  text-align: center;
}
.image img {
    height:500px;
    width:500px;
    border-radius:50px 70px 70px 140px;
    border: 3px solid chocolate;
    object-fit:cover;
    rotate: -40deg;
    text-shadow: 50px 50px 10px black;
    margin:50px 0px 0px 1000px;
    padding:15px;
}
.about{
  display:flex;
  margin:300px 0px 0px 0px;

}
.about-image img {
  height:850px;
  width:550px;
  border-radius:90px;
  object-fit: cover;
  margin:80px;
}
.h1,h2{
  color:chocolate;
  text-align:left;
  font-size: 60px;
}
#about{
  font-size: 150px;
  text-align: center;
}
#skil{
  text-align: center;
  font-size: 150px;
}
.skill{
  text-align: center;
  margin:200px;
  display: flex;
}
.about-content{
  color: aliceblue;
}
.skill{
  color:aliceblue;
  margin:300px 0px 0px 0px;
}
.b1{
  color: aliceblue;
  
}
.b2{
  color: aliceblue;
}
.box1{    /*tech stcak*/
  color: aliceblue;
 width:1000px;        /* box width */
  height:80px;         /*box height */
  background-color:black;
  border: 5px solid chocolate; /* border */
  padding: 20px;       /* space inside */
  margin: 20px;
  text-align: center;
  font-size: 50px;
}
.box2,.box3,.box4,.box5{     /*html,css,js,ux*/
 color: rgb(240, 242, 244);
  width:450px;
  height:70px;
  padding:60px;
  margin:70px 0px 0px 80px;
  border:3px solid rgb(239, 232, 232);
  border-radius: 3px;
  font-size:50px;
}
/*.b9{  /*udacity
  color: aliceblue;
  width: 600px;        
  height: 500px;     
  background-color:black;
  border: 5px solid rgb(244, 240, 238); 
  padding: 20px;       
  margin: 0px 100px;
  text-align: center;
  font-size: 20px;
}*/
/*.box2{     html
  color: rgb(239, 247, 247);
  width:150px;
  height:50px;
  padding:15px;
  margin:35px;
  border:3px solid white;
}

.box3{     /*css
  color: rgb(239, 247, 247);
  width:150px;
  height:50px;
  padding:15px;
  margin:35px;
  border:3px solid white;
}
.box4{    /*js
  color: rgb(239, 247, 247);
  width:150px;
  height:50px;
  padding:15px;
  margin:35px;
  border:3px solid white;
  
}
.box5{    /*ux*
  color: rgb(239, 247, 247);
  padding:19px;
  margin:49px;
  border:3px solid white;
}*/
.box6{   /*project*/
  color: aliceblue;
  width:1000px;        /* box width */
  height: 80px;       /* box height */
  background-color:black;
  border: 5px solid chocolate; /* border */
  padding: 20px;       /* space inside */
  margin: 20px;
  text-align: center;
  font-size: 60px;
}
.box7,.h3,.h5,.h2{
  font-size:60px;
}
/*.box8{    cerificate
 color: aliceblue;
  width: 700px;        
  height: 50px;       
  background-color:black;
  border: 5px solid chocolate;
  padding: 20px;       
  margin: 20px;
  text-align: center;
  font-size: 50px;
  }*/
.b4{
  color: white;
  width:50px;
  margin: 150px;
  padding: 150px;
  border: 3px solid white;
}
.Contactform{
  display:flex;
  text-align: center;
  margin:300px 0px 0px 0px;

}
.pic img{
  width:950px;
  border-radius:200px;
  object-fit: cover;
  margin: 20px 50px 0px 700px;
}
.email,.insta,.tik,.telegram{
  color: aliceblue;
  width:150px;
  height:50px;
  padding:20px;
  margin:35px;
  border:3px solid white;
  border-radius:5px;
}
.box10{  /*comment box*/
  color: rgb(245, 245, 245);
  background-color:lightsteelblue;
  cursor:text;
 margin:0px 0px 0px 70px;
  width:950px;
  height:450px;
  border:3px solid rgb(253, 246, 246);
  text-align: center;
}
.com{
  color:chocolate;
  text-align: center;
  font-size: 80px;
}
#contact{
  color:chocolate;
  text-align: center;
  font-size: 150px;
}
.icon{
  display:flex;
  background-color:lightsteelblue;
  border:3px solid white;
  border-radius:5px;
  color:rgb(16, 15, 15);
  justify-content: center;
  padding:25px;
  margin:0px 0px 0px 50px;
  list-style-type:none;
  font-size: 80px;
}
#Feamil{
  padding:8000px;
}
